{% extends "base.html" %}

{% block content %}
<div class="container mx-auto w-2/4">
    <h1 class="text-3xl font-bold underline text-center my-10">
        Add New Device!

    </h1>

    <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid md:grid-cols-2 md:gap-6">


            <div class="relative z-0 w-full mb-6 group">
                <input type="text" name="name" id="name"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <label for="name"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Device
                    Name</label>
            </div>
    
            <div class="relative z-0 w-full mb-6 group">
                <input type="text" name="brand" id="brand"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <label for="brand"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Brand</label>
            </div>
        </div>


        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="device_type" id="device_type"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " required />
            <label for="device_type"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Device
                Type</label>
        </div>

        <div class="grid md:grid-cols-2 md:gap-6">

            <div
                class="mb-3 mb-3 text-black bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <label for="starting_date" class="form-label text-white mr-12">Starting Date</label>
                <input name="starting_date" type="datetime-local" class="form-control rounded-lg">
            </div>
    
    
    
            <div
                class="mb-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <label for="company" class="form-label mr-12">Company Name</label>
                <select name="company" class="form-control text-black w-48 h-10 rounded-lg px-4">
                    <!-- Options for companies should be dynamically generated -->
                    {% for company in comp %}
                    <option class="bg-white text-black form-control " value="{{ company.id }}">{{ company.name }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>


        <!-- <label for="images" class="form-label">Images</label>
        <input name="images" type="file" class="form-control" id="images" multiple> -->



        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="images">Images</label>
        <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-white dark:border-gray-600 dark:placeholder-gray-400"
            aria-describedby="user_avatar_help" name="images" id="images" type="file" multiple>
        <div class="mt-1 text-sm text-gray-500 dark:text-gray-600" id="user_avatar_help">Upload Device related images.
        </div>


        <div class="flex items-center my-5">
            <input checked value="" name="is_checked_out" type="checkbox" id="is_checked_out"
                class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="is_checked_out" class="ml-2 text-xl font-medium text-gray-900 dark:text-black">Is Checked
                Out</label>
        </div>


        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Add Device </button>
    </form>
</div>

{% endblock content %}