{% extends "base.html" %}


{% block content %}
<h1 class="my-10 text-5xl font-bold tracking-tight text-gray-900 dark:text-black text-center">
    Device Details
</h1>
<!-- 
<p>{{dev.id}}</p>
<p>Device Name: {{dev.name}}</p>
<p>Brand: {{dev.brand}}</p>
<p>Device Type: {{dev.device_type}}</p>
<p>Starting Date: {{dev.starting_date}}</p>
<p>Company: {{dev.company}}</p>
<p>Provided: {{dev.is_checked_out}}</p>

{% if img %}
<p>yes Photo</p>
{% for i in img%}
<li><img src="{{ i.images.url }}" alt="Device Image"></li>

{% endfor %}
{% else %}
<p>No photo</p>

{% endif %} -->


<!-- <td>
    {% for product_image in product.images.all %}
    <img src="{{product_image.images.url }}" alt="{{ product.name }} Image" style="max-width: 100px;">
    {% empty %}
    No images available
    {% endfor %}
</td> -->

<!-- {% for image in img %}
    <li><img src="{{ image.images.url }}" alt="{{ image.name }}"></li>
{% endfor %} -->

<br>

<!-- <a href="{% url 'edit_device' dev.id%}"
    class="text-white bg-blue-700  hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Edit</a>

<a href="{% url 'delete_device' dev.id%}"
    class="text-white bg-blue-700  hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Delete</a> -->


<div class="flex items-center justify-center">


    <div class="w-1/4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">ID: {{dev.id}}</p>
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{dev.name}}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">brand: {{dev.brand}}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Device Type: {{dev.device_type}}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Starting Date: {{dev.starting_date}}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Company: {{dev.company}}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Provided: {{dev.is_checked_out}}</p>





        <!-- <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
            </div>
        </div> -->

        <!-- <a href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a> -->

        <div class="flex mt-4 justify-between md:mt-6">
            <a href="{% url 'edit_device' dev.id%}"
                class="text-white bg-blue-700  hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-yellow-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Edit</a>

            <a href="{% url 'delete_device' dev.id %}"
                class="text-white bg-blue-700  hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Delete</a>
        </div>
        <!-- <a href="{% url 'companies' %}"
            class=" text-white bg-blue-700  hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Back</a> -->
    </div>

</div>
<div class="flex items-center justify-center my-10 ">

    {% if img %}
    <!-- <p>yes Photo</p> -->
    <!-- <div class="flex gap-6"> -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {% for i in img%}
        <!-- <li><img src="{{ i.images.url }}" alt="Device Image"></li> -->
        <img class="h-auto max-w-full rounded-lg" src="{{ i.images.url }}" alt="Device Image" width="300px" height="300px">
        {% endfor %}
    </div>
    
    {% else %}
    <p>No photo</p>
    
    {% endif %}
</div>

{% endblock content %}